<div class="my-container">
	<button id="left" style="display:inline-block;">Left</button>
	<!-- <div class="content-master" style="display:inline-block;">
		<div class="content">
			<%if(data.length>5){%>
				<%for(var i=0;i<5;i++){%>
					<a href="<%=data[i].link%>" class="anchor" id="<%=i%>">
						<img src="images/<%=data[i].imgSrc%>" alt="img" class="images"/>
					</a>
				<%}%>
			<%}else{%>
				<%for(var i=0;i<data.length;i++){%>
					<a href="<%=data[i].link%>" class="anchor" id="<%=i%>">
						<img src="images/<%=data[i].imgSrc%>" alt="img" class="images"/>
					</a>
				<%}%>
			<%}%>
		</div>
	</div> -->
	<div class="content-2">
		<div class="content-inside"></div>
	</div>
	<button id="right" style="display:inline-block;">Right</button>
	<script type="text/javascript">
		var listContent = <%- JSON.stringify(data) %>;
	</script>
</div>
